<div class="row">
	<div class="col-md-6">
		<img src="img/dev.png" class="img-circle img-responsive" id="about-img">
	</div>
	<div class="col-md-6" id="about">
		<h2>My name is Hui...</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type 
			specimen book. It has survived not only five centuries, but also the leap into electronic 
			typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release o
			f Letraset sheets containing Lorem Ipsum passages, and more recently with desktop pub
			lishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type 
			specimen book.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type 
			specimen book.
        </p>
        <p>
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type 
			specimen book.
        </p>        
	</div>
</div>

<div class="row">
	<div class="col-md-2 col-md-offset-3">
		<a href="twitter.com" class="btn btn-info btn-block">
			<i class="fa fa-twitter fa-5x"></i>
		</a>
	</div>
	<div class="col-md-2">
		<a href="facebook.com" class="btn btn-primary btn-block">
			<i class="fa fa-facebook fa-5x"></i>
		</a>
	</div>
	<div class="col-md-2">
		<a href="youtube.com" class="btn btn-danger btn-block">
			<i class="fa fa-youtube fa-5x"></i>
		</a>
	</div>
</div>